

<div style="align-content: center; align-items: center; text-align: center; child-align: auto;" [ngSwitch]="rssReady">
  <div *ngSwitchCase="true">
    <h1>{{imotd.title}}</h1>
    <p>{{imotd.description}}</p>
    <br />

    <img src="{{imotd.imageUrl}}" alt="{{imotd.imageUrl}}"  style="width: 100%;" />


    <br />
    <p>{{imotd.pubDate}}</p>
    <a href="{{imotd.link}}">{{imotd.link}}</a>
  </div>
  <div *ngSwitchCase="false">
    <h2>Loading... (If it takes too long it may not ever work!)</h2>
  </div>
</div>
